*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 200ms;
}

body{
    font-family: monospace;
    background-color:azure;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Nav Bar */
.header{
    padding: 25px;
}

.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.header ul li a{
    font-size: 18px;
}

.header ul li a:hover{
    font-size: 24px;
}

/* Home */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.profile-pic{
    width: 30vw;
    border-radius: 50%;
}
.profile-pic:hover{
    transform: scale(1.1);
}

/* Products */
.product-group{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.product-group li:hover{
    background-color: chocolate;
    transform: scale(1.05);
}

.product-group a:hover{
    color: wheat;
}

.product-img{
    width: 25vw;
    height: 25vw;
}

.product-img:hover{
    filter:sepia();
}

.product-info{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 2px solid black;
}

/* Product Detail */
.product-detail{
    display: flex;
    gap: 20px;
}

.product-detail img{
    width: 40vw;
}
.product-detail img:hover{
    transform: scale(1.1);
    filter:sepia();
    background-color: chocolate;
    border-radius: 10%;
}

.product-detail div{
    width: 40vw;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-detail div:hover{
    transform: scale(1.1);
    background-color: chocolate;
    color: antiquewhite;
    border-radius: 10%;
    padding: 20px;
}

.product-detail h2{
    font-weight: 300;
    font-size: 28px;
}

.product-detail h3{
    font-size: 28px;
}

.product-detail button{
    color: antiquewhite;
    text-transform: uppercase;
    background-color: mediumslateblue;
    border-radius: 5%;
    border: 1px solid black;
    padding: 10px 20px;
}

.product-detail button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: auto;
}